.header-entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px
}

.header-entrada > img {
    height: 130px;
}

.titulo-entrada {
    margin-top: 10px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
}

.caixa_iniciar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.meta-zaps {
    width: 204px;
    height: 35px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0px;
    padding-left: 10px;
}

::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #ADADAD;
}

.caixa_iniciar-recall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #D70900;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.iniciar-texto {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #D70900;
}

@media (min-width: 900px) {
    ::placeholder {
        text-align: center;
    }

    .header-entrada > img {
        height: 160px;
    }
    
    .titulo-entrada {
        font-size: 42px;
        color: #FFFFFF;
        margin-bottom: 50px;
    }

    .meta-zaps {
        width: 300px;
        height: 40px;
    }

    .caixa_iniciar-recall {
        width: 300px;
        height: 40px;
    }
}