.pergunta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-opcao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 15px;
    color: #333333;
}

.caixa-opcao > p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;
}

.caixa-opcao > ion-icon {
    margin-right: 15px;
    font-size: 30px;
    width:30px;
    height: 30px;
    cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////////// */

.card {
    width: 320px;
    height: 120px;
    margin: 0 17px;
    margin-bottom: 34px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background: #FFFFD5;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.front-face > p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #333333;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    word-break: break-all;
}

.front-face > img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 17px;
    cursor: pointer;
}

.back-face {
    transform: rotateY(180deg);
}

.back-face > p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    word-break: break;
}

.virar-tras-fixo {
    transform: rotateY(0deg);
}

.virar-frente-fixo {
    transform: rotateY(-180deg);
}

.resposta {
    color: #FFFFFF;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 15px;
}

.resposta-nao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background: #FF3030;
    border-radius: 5px;
}

.resposta-quase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background: #FF922E;
    border-radius: 5px;
    text-align: center;
}

.resposta-zap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    background: #2FBE34;
    border-radius: 5px;
}

.pergunta_respondida-nao {
    text-decoration: line-through;
    color: #FF3030;
}

.pergunta_respondida-quase {
    text-decoration: line-through;
    color: #FF922E;
}

.pergunta_respondida-zap {
    text-decoration: line-through;
    color: #2FBE34;
}

/* ///////////////////////////////////////////////// */
.escondido {
    display: none;
}

@media (min-width: 900px) {
    .caixa-opcao {
        width: 500px;
        height: 70px;
    }

    .card {
        width: 500px;
        height: 150px;
    }

    .resposta-nao {
        width: 150px;
    }
    
    .resposta-quase {
        width: 150px;
    }
    
    .resposta-zap {
        width: 150px;
    }
}
