footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 200px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    right: 0;
    bottom: 0;
}

footer > p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #333333;
    margin-top: 30px;
}

.footer-resultado {
    height: 220px;
}

.descricao {
    margin-top: 15px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    color: #333333;
    height: 50px;
    width: 210px;
}

.icones-respondidos ion-icon {
    padding-bottom: 25px;
    font-size: 26px;
}

.resposta-verde {
    color: #2FBE34;
}

.resposta-laranja {
    color: #FF922E;
}

.resposta-vermelha {
    color: #FF3030;
}

.botao-reiniciar {
    width: 167px;
    height: 52px;
    background: #FB6B6B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.botao-reiniciar > p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}