.header-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    margin-bottom: 80px;
}

.header-principal > img {
    height: 75px;
    margin-right: 10px;
}

.titulo-principal {
    margin-top: 10px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
}